/dsf-bpe-process-feasibility/target/

/dsf-docker-test-setup/dic-1/bpe/app/conf/*.p12
/dsf-docker-test-setup/dic-1/bpe/app/last_event/time.file
/dsf-docker-test-setup/dic-1/bpe/app/log/*.log
/dsf-docker-test-setup/dic-1/bpe/app/log/*.log.gz
/dsf-docker-test-setup/dic-1/bpe/app/plugin/*.jar
/dsf-docker-test-setup/dic-1/bpe/app/process/*.jar
/dsf-docker-test-setup/dic-1/bpe/proxy/ssl/*.pem
/dsf-docker-test-setup/dic-1/fhir/app/conf/bundle.xml
/dsf-docker-test-setup/dic-1/fhir/app/conf/config.properties
/dsf-docker-test-setup/dic-1/fhir/app/conf/*.p12
/dsf-docker-test-setup/dic-1/fhir/app/log/*.log
/dsf-docker-test-setup/dic-1/fhir/app/log/*.log.gz
/dsf-docker-test-setup/dic-1/fhir/proxy/ssl/*.pem

/dsf-docker-test-setup/dic-2/bpe/app/conf/*.p12
/dsf-docker-test-setup/dic-2/bpe/app/last_event/time.file
/dsf-docker-test-setup/dic-2/bpe/app/log/*.log
/dsf-docker-test-setup/dic-2/bpe/app/log/*.log.gz
/dsf-docker-test-setup/dic-2/bpe/app/plugin/*.jar
/dsf-docker-test-setup/dic-2/bpe/app/process/*.jar
/dsf-docker-test-setup/dic-2/bpe/proxy/ssl/*.pem
/dsf-docker-test-setup/dic-2/fhir/app/conf/bundle.xml
/dsf-docker-test-setup/dic-2/fhir/app/conf/config.properties
/dsf-docker-test-setup/dic-2/fhir/app/conf/*.p12
/dsf-docker-test-setup/dic-2/fhir/app/log/*.log
/dsf-docker-test-setup/dic-2/fhir/app/log/*.log.gz
/dsf-docker-test-setup/dic-2/fhir/proxy/ssl/*.pem

/dsf-docker-test-setup/zars/bpe/app/conf/*.p12
/dsf-docker-test-setup/zars/bpe/app/last_event/time.file
/dsf-docker-test-setup/zars/bpe/app/log/*.log
/dsf-docker-test-setup/zars/bpe/app/log/*.log.gz
/dsf-docker-test-setup/zars/bpe/app/plugin/*.jar
/dsf-docker-test-setup/zars/bpe/app/process/*.jar
/dsf-docker-test-setup/zars/bpe/proxy/ssl/*.pem
/dsf-docker-test-setup/zars/fhir/app/conf/bundle.xml
/dsf-docker-test-setup/zars/fhir/app/conf/config.properties
/dsf-docker-test-setup/zars/fhir/app/conf/*.p12
/dsf-docker-test-setup/zars/fhir/app/log/*.log
/dsf-docker-test-setup/zars/fhir/app/log/*.log.gz
/dsf-docker-test-setup/zars/fhir/proxy/ssl/*.pem

/dsf-tools/dsf-tools-test-data-generator/bundle/*.xml
/dsf-tools/dsf-tools-test-data-generator/cert/*/
/dsf-tools/dsf-tools-test-data-generator/cert/*.txt
/dsf-tools/dsf-tools-test-data-generator/config/*.properties
/dsf-tools/dsf-tools-test-data-generator/target/
